@media only screen and (max-width: 480px){

h2 {
    position: absolute;
    width: 275px;
    height: 72px;
    left: 15px;
    top: 670px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.text1 {
    position: absolute;
    width: 330px;
    height: 108px;
    left: 15px;
    top: 770px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.photo1 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: -59px;
    top: 955px;
    border-radius: 20px;
}

.aida {
    position: absolute;
    width: 100px;
    height: 36px;
    left: -48px;
    top: 1081px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.cant_aida {
    box-sizing: border-box;
    position: absolute;
    width: 125px;
    height: 125px;
    left: -59px;
    top: 959px;
    border: 1px solid #15B68E;
    border-radius: 10px;
    transform: rotate(-2deg);
}

.aida_text {
    position: absolute;
    width: 107px;
    height: 42px;
    left: -47px;
    top: 1128px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.photo2 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 90px;
    top: 958px;
}

.cant_kirill {
    box-sizing: border-box;
    position: absolute;
    width: 125px;
    height: 125px;
    left: 90px;
    top: 956px;
    border: 1px solid #15B68E;
    border-radius: 10px;
    transform: rotate(5deg);
}

.kirill {
    position: absolute;
    width: 107px;
    height: 36px;
    left: 98px;
    top: 1081px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.kirill_text {
    position: absolute;
    width: 107px;
    height: 28px;
    left: 98px;
    top: 1128px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.photo3 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 241px;
    top: 954px;
}

.cant_sofia {
    box-sizing: border-box;
    position: absolute;
    width: 125px;
    height: 125px;
    left: 244px;
    top: 955px;
    border: 1px solid #FBD748;
    border-radius: 10px;
    transform: rotate(1deg);
}

.sofia {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 246px;
    top: 1081px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.sofia_text {
    position: absolute;
    width: 107px;
    height: 28px;
    left: 253px;
    top: 1128px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.photo4 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 395px;
    top: 954px;
}

.cant_anast {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    width: 125px;
    height: 125px;
    left: 395px;
    top: 954px;
    border: 1px solid #15B68E;
    border-radius: 10px;
    transform: rotate(-4.42deg);
}

.anast {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 400px;
    top: 1081px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.anast_text {
    position: absolute;
    width: 107px;
    height: 28px;
    left: 405px;
    top: 1128px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.photo5 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 551px;
    top: 954px;
    border-radius: 10px;
    transform: rotate(7.06deg);
}

.cant_andrey {
    box-sizing: border-box;
    position: absolute;
    width: 125px;
    height: 125px;
    left: 551px;
    top: 954px;
    border: 1px solid #FBD748;
    border-radius: 10px;
    transform: rotate(3.23deg);
}

.andrey {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 545px;
    top: 1081px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.text_andrey {
    position: absolute;
    width: 107px;
    height: 28px;
    left: 550px;
    top: 1128px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
}

@media only screen and (min-width: 480px){

    h2 {
        position: absolute;
        width: 1005px;
        height: 172px;
        left: 427px;
        top: 1010px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 96px;
        color: #000000;
    }

    .text1 {
        position: absolute;
        width: 729px;
        height: 200px;
        left: 427px;
        top: 1256px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }

    .photo1 {
        position: absolute;
        border: 0px;
        border-radius: 30px;
        width: 359px;
        height: 359px;
        left: -132px;
        top: 1550px;
        transform: rotate(3.63deg);
    }

    .aida {
        position: absolute;
        width: 314px;
        height: 24px;
        left: -132px;
        top: 1922px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }

    .aida_text {
        position: absolute;
        width: 234px;
        height: 36px;
        left: -132px;
        top: 1972px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .cant_aida {
        box-sizing: border-box;
        position: absolute;
        width: 368px;
        height: 368px;
        left: -132px;
        top: 1550px;
        border: 2px solid #15B68E;
        border-radius: 30px;
        transform: rotate(-2deg);
    }

    .photo2 {
        position: absolute;
        width: 359px;
        height: 359px;
        left: 295px;
        top: 1550px;

    }
    
    .cant_kirill {
        box-sizing: border-box;
        position: absolute;
        width: 368px;
        height: 368px;
        left: 295px;
        top: 1550px;
        border: 2px solid #15B68E;
        border-radius: 30px;
        transform: rotate(5deg);
    }

    .kirill {
        position: absolute;
        width: 314px;
        height: 24px;
        left: 320px;
        top: 1922px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }

    .kirill_text {
        position: absolute;
        width: 314px;
        height: 18px;
        left: 320px;
        top: 1972px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .photo3 {
        position: absolute;
        width: 359px;
        height: 359px;
        left: 740px;
        top: 1538px;
    }

    .cant_sofia {
        box-sizing: border-box;
        position: absolute;
        width: 368px;
        height: 368px;
        left: 742px;
        top: 1545px;
        border: 2px solid #FBD748;
        border-radius: 30px;
        transform: rotate(1deg);
    }

    .sofia {
        position: absolute;
        width: 314px;
        height: 24px;
        left: 760px;
        top: 1925px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
    
    .sofia_text {
        position: absolute;
        width: 314px;
        height: 18px;
        left: 770px;
        top: 1973px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .photo4 {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 1200px;
        top: 1544px;
    }

    .cant_anast {
        box-sizing: border-box;
        position: absolute;
        width: 368px;
        height: 368px;
        left: 1198px;
        top: 1540px;
        border: 2px solid #15B68E;
        border-radius: 30px;
        transform: rotate(-4.42deg);
    }

    .anast {
        position: absolute;
        width: 314px;
        height: 24px;
        left: 1220px;
        top: 1920px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .anast_text {
        position: absolute;
        width: 314px;
        height: 18px;
        left: 1221px;
        top: 1966px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .photo5 {
        position: absolute;
        width: 359px;
        height: 359px;
        left: 1660px;
        top: 1544px;
        border-radius: 30px;
        transform: rotate(7.06deg);
    }

    .cant_andrey {
        box-sizing: border-box;
        position: absolute;
        width: 368px;
        height: 368px;
        left: 1658px;
        top: 1540px;
        border: 2px solid #FBD748;
        border-radius: 30px;
        transform: rotate(3.23deg);
    }

    .andrey {
        position: absolute;
        width: 314px;
        height: 24px;
        left: 1663px;
        top: 1919px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .text_andrey {
        position: absolute;
        width: 314px;
        height: 18px;
        left: 1663px;
        top: 1967px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

}